@media  screen and (320px <= width <= 449px) {
    header{
        height: 59px;
    }
    #items-navBar{
        gap:5px;
    }

    #items-navBar{
        font-size: .7rem;
    }


    /* Seção Services */

    .cards{
        margin: 10px 0px;
    }
    
    /* Seção Differentials */

    #section-differentials{
        padding-left: 0px;
        padding-right:0px ;
    }

    #container-main-contents ul{
        padding: 10px 0px;
    }


    #section-differentials ul li{
        margin-right: 5px;
        margin-left: 5px;
    }

    #topics-differentials{
        margin: 15px 0px;
    }

    #container-content-differentials h2 {
        font-size: 1.1rem;
    }

    .container-icons-section-differentials{
        width: 145px;
    }


 /* Seção Missão,Visão e Valores */

    #container-content-mission{
        padding-right: 5px;
        padding-left: 5px;
    }

    /* Seção Contact */

    form{
        width: 300px;
    }
}

@media screen and (min-width:600px) {
    #container-logo-nexTI-start img {
        width: 40%;
    }
}


@media screen and (min-width:670px) {
    #topics-differentials {
        display: grid;
        grid-template-areas: "first-topic second-topic" "third-topic fourth-topic";
    }
    /* .container-icons-section-differentials {
        width: 80%;
    } */

    #container-main-contents h2 {
        font-size: 1.4rem;
    }
}


@media screen and (min-width: 900px) {
    header{
        width:100%;
    }

    #container-logo-header img{
        width: 50%;
    }

    #items-navBar{
        /* justify-content: space-between; */
    }

    /* Seção Serviços */

    #container-cards{
        width: unset;
        justify-content: center;
        flex-direction: row;
        /* flex-basis: 400px; */
        flex-wrap: wrap;
    }

    .cards{
        width: 400px;
        height: 300px;
    }

    .container-content-cards{
        height: 100%;
        justify-content: space-around;
    }

    #card-network-hardware{
        /* transform:translateX(350%); */
        /* animation: appear .9s .1s ease-in 1; */
        transition: transform ease-in 1s  ;
    }
    #card-software-configuration{
        transform: translateX(300%);
    }
    #card-support{
        transform: translateX(350%);
    }

    /* Seção Propósito */
    #container-content-mission{
        display: grid;
        grid-template-areas:  "image contents-section" "image contents-section";
        margin: 15px 0px;
        grid-template-columns:50% 50%;
    }
    
    #container-content-mission .section-info{
        justify-self: center;
    }

    #container-content-mission h1 {
        align-content:center;
    }

    #container-content-mission #contents{
        justify-content: center;
        grid-area: contents-section;
        border: none;
    }

    #container-content-mission #contents::before{
        content: " ";
        width: 4px;
        height: 48%;
        transform: translateX(-10px);
        background-color: var(--color5);
        position: absolute;
    }   

    #container-image-team{
        grid-area: image;
        display: flex;
    }

    /* Seção contato */

    #section-contact{
        display: flex;
        justify-content: center;
    }


    #contents-section-contact{
        width: 80%;
        /* max-width: 95%; */
        display: grid;
        grid-template-areas: "sectionInfo sectionInfo" "contentsSection form";
        grid-template-columns: 50% 50%;
        /* align-content: center;
        justify-content: center;
        align-items: center; */
    }
    
    #contents-section-contact .section-info{
        grid-area:sectionInfo;
        align-self: center;
    }
    
    #contents-section-contact #container-content-introduction{
        grid-area:contentsSection;
        background-color: var(--color6);
        color: var(--color1);
        margin: 0px;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px 0px 0px 15px;
    }


    #contents-section-contact #container-form {
        grid-area: form;
        width: 100%;
    }
    
    #container-form form{
        display: grid;
        grid-template-areas:"titulo titulo" "nome email" "telefone uso" "areaTexto areaTexto" "politicasPrivacidade politicasPrivacidade" "enviar enviar" ;
        gap: 5px;
        margin: 0px;
        border-radius: 0px 15px 15px 0px;
        /* justify-content: center; */
        align-items: center;
        justify-items: center;
    }

    #container-form form h2{
        grid-area: titulo;
    }

    label{
        transform: translateY(-30px);
    }
    
    input{
        margin: 25px 0px;
    }

    #name,label[for="name"]{
        grid-area: nome;
    }

    #email,label[for="email"]{
        grid-area: email;
    }

    #contato,label[for="contato"]{
        grid-area: telefone;
    }

    #type-user,label[for="type-user"]{
        grid-area:uso;
    }

    #area-problem-description,label[for="area-problem-description"]{
        grid-area: areaTexto;
    }

    label[for="area-problem-description"]{
        transform: translateY(-90px);
    }

    label[for="policy-privacity"]{
        grid-area: politicasPrivacidade;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    #botao-enviar{
        grid-area:enviar;
    }



    /* Footer */
    footer{
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
}