@media  screen and (320px <= width <= 449px) {
    header{
        height: 59px;
    }
    #items-navBar{
        gap:5px;
    }

    #items-navBar{
        font-size: .7rem;
    }


    /* Seção Services */

    .cards{
        margin: 10px 0px;
    }
    
    /* Seção Differentials */

    #section-differentials{
        padding-left: 0px;
        padding-right:0px ;
    }

    #container-main-contents ul{
        padding: 10px 0px;
    }


    #section-differentials ul li{
        margin-right: 5px;
        margin-left: 5px;
    }

    #topics-differentials{
        margin: 15px 0px;
    }

    #container-content-differentials h2 {
        font-size: 1.1rem;
    }

    .container-icons-section-differentials{
        width: 145px;
    }


 /* Seção Missão,Visão e Valores */

    #container-content-mission{
        padding-right: 5px;
        padding-left: 5px;
    }

    /* Seção Contact */

    form{
        width: 300px;
    }
}