@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1:#FEFEFD;
    --color2:#FDFEFB;
    --color3:#64B7E3;
    --color4:#3297cf;
    --color5:#1F81BD;
    --color6:#13345E;
    --color7:#757778;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Montserrat",sans-serif;
}

h1,h2{
    font-family: "Roboto",sans-serif;
}


html{
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

footer,main,header{
    width: 100vw;
}

header{
    padding: 4px;
    height: 70px;
    box-shadow: 0px 1px 4px #64B7E32E;
}


/* Header */

#container-items-header{
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    align-content: center;
}

#container-logo-header{
    grid-column: 1/2;
}

nav{
    grid-column: 2/3;
}

#items-navBar{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
}

#anchors-navbar{
    color: var(--color5);
}


#anchors-navbar:hover{
    color:var(--color6);
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: var(--color6);
}

/* Seção Inicio */

#Inicio{
    width: 100%;
    /* height: 100vh; */
    border-radius: 0px 0px 0px 90px;
    /* text-align: center; */
    display: flex;
    align-items: center;
}
.container-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#container-image-graphic{
    display: flex;
    justify-content: center;
}

#image-graphic{
    width: 80%;
    /* filter: drop-shadow(1px 0px 2px var(--color5)); */
}
#redirect-form-anchor{
    width: 150px;
    height: 39px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(90deg, var(--color6),var(--color5));
}

#redirect-form-anchor a{
    color: var(--color2);
    font-weight: 600;
}

/* Seção Sobre Nós 

#Sobre-nós {
    text-align: center;
    background-color: var(--color6);
    /* background-image: url("../resources/images/pattern-network.png");  
    background: linear-gradient(/* 90deg,  var(--color5),var(--color6));
    color: var(--color2);
    padding: 3px;
    /* height: 100vh;
    border-radius: 70px 0px 70px 0px;
    display: flex;
    /* align-items: center;
}

/* Seção Serviços 

#Serviços h1{
    font-size: 1.4rem;
    padding: 20px;
    text-align: center;
}

.cards{
    height: max-content;
    text-align: center;
    padding:20px;
    margin: 10px;
    background: /* var(--color6)  url("../resources/images/pattern-network.png") center center,linear-gradient(90deg, var(--color6),var(--color5));
    background-size: cover;
    border-radius: 15px;
    transition: scale 800ms ease-out;
    color: var(--color2);
}
.cards:hover{
    scale: 0.98;
    transition: scale 800ms ease-in;
}

.container-title-cards{
    margin: 10px;
    display: grid;
    grid-template-areas: "icon title";
    grid-template-columns:30% 70% ;
    align-items: center;
}

#icon-network,#icon-support,#icon-software-configuration{
    grid-area: icon;
    width: 40%;
}
.container-title-cards h2{
    font-size: 1rem;
    grid-area: title;
    text-align: left;
}


/* Seção Diferênciais 

#Diferenciais{
    text-align: center;
    border-radius: 10px 83px 10px 83px;
    padding: 10px;
}

#container-introduction{
    margin: 20px 2px;
}

#container-introduction h1{
    margin: 2px 2px 10px 2px;
    font-size: 1.6rem;
}

#container-main-contents h2{
    font-size: 1.2rem;
}

#container-main-contents ul{
    padding: 10px;
    text-align: justify;
}

#container-main-contents ul li{
    padding: 5px;
}

/* Seção Contato 

#container-content-introduction{
    text-align: center;
    margin: 10px;
}

#container-content-introduction h1{
    font-size: 1.6rem;
}

#container-form form{
    margin:20px 0px 0px 0px;
    box-shadow: 0px 0px 2px #13345E;
    display: flex;
    flex-direction: column;
    padding: 27px;
    align-items: center;
    border-radius: 15px;
}

form h2{
    margin: 5px;
}

form label{
    width: 100%;
    margin: 10px 0px 5px 0px;
    text-align: left;
}

input{
    margin: 0px 0px 5px 0px;
}

input[type="text"],input[type="tel"],input[type="email"],select{
    width: 100%;
    height: 38px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #e6e6e6;

}

input[type="text"]:focus,input[type="tel"]:focus,input[type="email"]:focus{
    outline: 2px solid var(--color5);
}

input::placeholder{
    color: var(--color6);
}

select{
    padding: 6px;
    cursor: pointer;
}


label[for="policy-privacity"]{
    font-size: 0.8rem;
    text-align: center;
}
input[type="checkbox"]:checked{
    accent-color: var(--color5);
}

input[type="submit"]{
    width: 150px;
    height: 38px;
    /* background-color: var(--color5);
    background: linear-gradient(90deg, var(--color6),var(--color5));
    color: var(--color2);
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 4px var(--color6);
    transition: background-color 800ms ease-out;
}

input[type="submit"]:hover{
    /* background-color: var(--color4);
    background: linear-gradient(90deg, #183e70,#3297cf);
    transition: background-color 800ms ease-in ;
}

#policy-privacity-form-anchor:hover{
    color:var(--color6);
    text-decoration: underline;
}

/* Footer 

footer{
    background-color: #13345E;
    color: #FAF9F6;
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding: 10px;
    text-align: center;
}

footer h1{
    font-size: 1.1rem;
    margin: 10px;
}

footer ul > li{
    font-size: 0.9rem;
    margin: 5px;
}

#container-logo-footer{
    width: 100%;
}
#container-logo-footer img{
    width: 20%;
    height: 90%;
}


.links-footer{
    color: #9fa1a1;
}

.links-footer:hover{
    color: var(--color7);
    border-width: 0px 0px 1px 0px;
    border-color: var(--color7);
    border-style: solid;
}

.items-navigation-footer{
    margin: 40px;
}

#copyright{
    font-size: 0.8rem;
}*/