@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1:#FEFEFD;
    --color2:#FDFEFB;
    --color3:#64B7E3;
    --color4:#3297cf;
    --color5:#1F81BD;
    --color6:#13345E;
    --color7:#757778;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Montserrat",sans-serif;
    text-wrap: balance;
}

body{
    overflow-x: hidden;
}

h1,h2{
    font-family: "Roboto",sans-serif;
}


html{
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

p{
    font-size: 1.1rem;
    line-height: 25px;
}

footer,main,header{
    /* width: 100vw; */
}

header{
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(5px);
    padding: 4px;
    height: 70px;
    box-shadow: 0px 1px 4px #64B7E32E;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#highlighted-text{
    color: var(--color5);
}

.section-info{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color5);
    display: flex;
    align-self: center;
    gap: 3px;
}


.section-info::before,.section-info::after{
    content: " ";
    width: 50px;
    height: 2px;
    display: inline-block;
    align-self: center;
    background-color: var(--color5);
}

/* Header */

#container-items-header{
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    align-content: center;
}

#container-logo-header{
    grid-column: 1/2;
}

#container-items-header nav{
    grid-column: 2/3;
}

#items-navBar{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
}

#anchors-navbar{
    color: var(--color5);
    font-weight: 600;
}


#anchors-navbar:hover{
    color:var(--color6);
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: var(--color6);
}

/* Seção Inicio */

#section-start{
    background: url(../resources/images/image-server-room.jpg)  center center no-repeat;
    color: var(--color2);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: opacity(10%);
    height: 90vh;
}

#section-start::before{
    content: "";
    display: inline-block;
    background-color: #1e1b1bb0;
    height: 90vh;
    width: 100%;
    z-index: -2;
    position: absolute;
}

.container-contents{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container-contents#contents-start{
    /* margin: 5px 0px; */
    gap: 5px;
}

#title-section-start{
    font-size: 1.5rem;
}

#container-logo-nexTI-start{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-logo-nexTI-start img{
    width: 50%;
}

#contents-start p{
    width: 80%;
}

/* #image-graphic{
    filter: drop-shadow(1px 0px 2px var(--color5));
} */

/* #main-content-section-start h1,#main-content-section-start p{
    margin: 10px 0px;
} */

#redirect-form-anchor{
    width: 180px;
    height: 39px;
    border: none;
    margin: 8px;
    /* border-radius: 20px; */
    cursor: pointer;
    /* background-color: var(--color4); */
    background: transparent;
    border: 2px solid var(--color5);
    /* backdrop-filter: blur(5px); */
    background: linear-gradient(180deg, var(--color5) 100%,transparent 100%) ;
    background-position: -180px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .9s ease-out;

}


#redirect-form-anchor:hover{
    /* background: linear-gradient(0deg, var(--color5) 100%,transparent 0%); */
    background-position: 0px 0px;
    background-repeat: no-repeat;
    transition: all .6s ease-in;
}


#redirect-form-anchor a{
    color: var(--color2);
    font-weight: 600;
}

/* Seção Sobre Nós

#section-aboutus {
    height: 100vh;
    text-align: center;
    /* background-color: var(--color6); 
    background-image: url("../resources/images/pattern-network.png");  
    background: linear-gradient(/* 90deg,  var(--color5),var(--color6));
    color: var(--color2);
    padding: 3px;
    margin: 41px 0px;
    /* height: 100vh; 
    border-radius: 70px 0px 70px 0px;
    display: flex;
    /* align-items: center;
}

#contents-section-aboutus{
    justify-content: end;
}

#container-image-network{
    transform: translateY(25px);
}

#container-contents-aboutus{
    margin: 6px;
    text-wrap: balance;
}

#container-contents-aboutus h1{
    margin: 5px;
    font-size: 1.5rem;
}

#container-contents-aboutus p{
    padding: 5px;
    margin: 5px;
}*/

/* Seção Serviços */

#section-services{
    height: 100%;
    padding: 25px;
}

#section-services h1{
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
}


@keyframes appear {
    from{
        transform: translateY(200px);
        opacity: 0%;
    }
    to{
        transform: translateY(0);
        opacity: 100%;
    }
}

#container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cards{
    /* width: 405px; */
    width: 60%/* 98% */;
    height: max-content;
    padding:15px;
    margin: 10px;
    display: flex;
    align-items: flex-start;
    background-color: var(--color6);
    /* background: /* var(--color6)  url("../resources/images/pattern-network.png") center center,linear-gradient(90deg, var(--color6),var(--color5));
    background-size: cover; */
    border-radius: 5px;
    color: var(--color2);
    text-align: left;
    transition: scale 600ms ease-out;
}

#card-network-hardware{
    transform: translateX(-150%/* -200% */);
    /* animation: appear .9s .1s ease-in 1; */
    transition: transform ease-in .6s  ;
}

#card-software-configuration{
    transform: translateX(150%/* 200% */);
    transition: transform ease-in .6s  ;
    /* animation: appear .9s .2s ease-in 1; */
}

#card-support{
    transform: translateX(-150%/* -200% */);
    transition: transform ease-in .6s  ;
    /* animation: appear .9s .3s ease-in 1; */
}

#card-support.appear,#card-software-configuration.appear,#card-network-hardware.appear{
    transform:translateX(0%);
    /* animation: appear .9s .1s ease-in 1; */
    transition: transform ease-in .6s  ;
}

/* .cards:hover{
    scale: 1.05;
    transition: scale 600ms ease-in;
} */

/* .container-title-cards{
    margin: 10px;
    display: grid;
    grid-template-areas: "icon title";
    grid-template-columns:30% 70% ;
    align-items: center;
} */



#icon-network,#icon-support,#icon-software-configuration{
    grid-area: icon;
    width: 55%;
}
.container-icons-cards{
    width: 310px;
    /* height: 100%; */ 
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.container-content-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-content-cards p{
    font-size: 0.9rem;
    font-weight: 400;
}

.container-content-cards h2{
    font-size: 1.1rem;
}

.buttons-learn-more{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-weight:600 ;
    cursor: pointer;
}

.buttons-learn-more:hover {
    background-color: rgba(211, 211, 211, 0.192);
    /* backdrop-filter: blur(10px); */
}


.buttons-learn-more a{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: var(--color2);
}

.arrow{
    color: var(--color5);
    font-size: 1.1rem;
    transition: transform .3s ease-out;
}

.buttons-learn-more:hover  .arrow{
    transform: translateX(5px);
    transition: transform .3s ease-in;
}

/* Seção Diferênciais */

#section-differentials{
    height: 100%;
    text-align: center;
    /* border-radius: 10px 83px 10px 83px; */
    padding: 10px;
}

#container-introduction-differentials{
    margin: 20px 2px;
    width: 89%;
    text-align: left;
}

#container-introduction-differentials h1{
    margin: 2px 2px 10px 2px;
    font-size: 1.6rem;
}


#container-introduction-differentials p{
    margin: 10px 0px ;
}

/* #container-main-contents {
    width: 89%;
} */

.container-icons-section-differentials img{
    /* width: 25%; */
    /* width: 100%; */
    width: 70%;
}


#container-main-contents h2{
    font-size: 1.2rem;
}

/* #container-main-contents ul */#topics-differentials{
    padding: 10px;
    text-align: center;
}

/* #container-main-contents ul */#topics-differentials li{
    padding: 5px;
    margin: 15px 10px;
    display: flex;
    text-align: left;
    gap: 15px;
    align-items:center ;
}

.container-icons-section-differentials {
    /* width: 235px; */
    width: 80%;
    display: flex;
    justify-content: center;
}

#topics-differentials li{
    transition: transform,opacity 1s ease;
}

#topics-differentials li:nth-child(1),#topics-differentials li:nth-child(3){
    transform: translateX(-130%/* -200% */);
    /* animation: appear .9s .1s ease-in 1; */
    transition: transform,opacity 1s ease;
}

#topics-differentials li:nth-child(2),#topics-differentials li:nth-child(4){
    transform: translateX(130%/* 200% */);
    /* animation: appear .9s .2s ease-in 1; */
    transition: transform,opacity 1s ease;
}

/* #topics-differentials li:nth-child(3){
    /* animation: appear .9s .3s ease-in 1; 
    transition: transform,opacity 1s ease;
} */

/* #topics-differentials li:nth-child(4){
    /* animation: appear .9s .4s ease-in 1; 
    transition: transform,opacity 1s ease;
} */

#topics-differentials li.appear{
    transform: translateX(0%);
    transition: transform 1s ease;
}

.container-contents-topics h3 + p{
    margin: 10px 0px;
}
/* #container-main-contents ul li:hover{
    background-color: var(--color6);
} */

.titles-topics-differentials h3{
    margin: 13px 0px;
}

/* Seção Propósitos */


#section-intention .section-info{
    margin: 10px 0px;
}

#container-content-mission{
    text-align: left;
    padding: 15px;
    gap: 10px;
    align-items: unset;
}


#container-content-mission h1{
    font-size: 1.7rem;
}

#container-image-team {
    width: 100%;
    /* background: url("../resources/images/circuit-pattern.png") center center no-repeat;
    background-size: cover; */
    /* width: 430px; */
    padding: 10px;
}

/* #container-image-team img::before{
    content: " ";
    /* width: 408px;
    height: 273px; 
    width: 88%;
    /* height:38%; 
    min-height: 38%;
    position: absolute;
    border: 4px solid var(--color5);
    z-index: -1;
    transform: translate(-10px,-10px);
} */

#contents{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    border-style: solid;
    border-color: var(--color5);
    border-width: 0px 0px 0px 4px;

}

#list-company-values{
    padding: 5px;
}

#list-company-values li{
    margin: 5px 0px;
}

/* Seção Contato */



/* #contents-section-contact .section-info::after, #container-content-mission .section-info::after{
    content: " ";
    width: 50px;
    height: 2px;
    display: inline-block;
    align-self: center;
    background-color: var(--color5);
} */

#container-content-introduction{
    text-align: left;
    margin: 10px;
}

#container-content-introduction h1{
    font-size: 1.3rem;
    margin: 5px;
}

#container-content-introduction p{
    margin: 5px;
}

#container-image-call-center{
    display: none;
}

#container-form form{
    margin:20px 0px 0px 0px;
    box-shadow: 0px 0px 2px #13345E;
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    padding: 27px;
    align-items: center;
    border-radius: 15px;
}

form h2{
    margin: 5px;
}

form label{
    width: 100%;
    margin: 10px 0px 5px 0px;
    text-align: left;
}

input{
    margin: 0px 0px 5px 0px;
}

input[type="text"],input[type="tel"],input[type="email"],select{
    width: 100%;
    height: 38px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #e6e6e6;

}

input[type="text"]:focus,input[type="tel"]:focus,input[type="email"]:focus,#area-problem-description:focus{
    outline: 2px solid var(--color5);
}

input::placeholder{
    color: var(--color6);
}

select{
    padding: 6px;
    cursor: pointer;
}


label[for="policy-privacity"]{
    font-size: 0.8rem;
    text-align: center;
}
input[type="checkbox"]:checked{
    accent-color: var(--color5);
}

input[type="submit"]{
    width: 150px;
    height: 38px;
    /* background-color: var(--color5);*/
    background: linear-gradient(90deg, var(--color6),var(--color5));
    color: var(--color2);
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 4px var(--color6);
    transition: background-color 800ms ease-out;
}

input[type="submit"]:hover/*, #redirect-form-anchor:hover */{
    /* background-color: var(--color4);*/
    background: linear-gradient(90deg, #183e70,#3297cf);
    transition: background-color 800ms ease-in ;
}

#area-problem-description{
    width: 100%/* 300px */;
    height: 150px;
    resize: none;
    overflow-y: scroll;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid var(--color7);
}

#policy-privacity-form-anchor:hover{
    color:var(--color6);
    text-decoration: underline;
}

/* Footer */

footer{
    /* height: 100vh; */
    background-color: #13345E;
    color: #FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    /* align-items:center ; */
    margin: 25px 0px 0px 0px;
    padding: 17px 10px 10px 19px;
    /* text-align: center; */
}

footer h1{
    font-size: 1.1rem;
    margin: 6px 0px;
}

footer ul > li{
    font-size: 0.9rem;
    margin: 15px 0px;
}

#container-logo-footer{
    width: 100%;
}
#container-logo-footer img{
    width: 20%;
    height: 90%;
}


.links-footer{
    color: #9fa1a1;
}

.links-footer:hover{
    color: var(--color3);
    border-width: 0px 0px 1px 0px;
    
    border-color: var(--color3);
    border-style: solid;
}

#items-navigation-footer{
    padding: 5px;
    margin: 4px;
}

#copyright p{
    font-size: 0.8rem;
}